{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "prettier",
    "prettier/react",
    "prettier/@typescript-eslint"
  ],
  "settings": {
    "import/resolver": { "typescript": {} }
  },
  "rules": {
    // 가능하면 Named Export를 선호합니다
    "import/prefer-default-export": "off",
    // HOC 에서 자주 사용하는 표현이므로 허용합니다 (다만, 되도록 사용하지 않습니다)
    "react/jsx-props-no-spreading": "off",
    // typescript에서 prop 타이핑이 강제되기 때문에 린트에서는 체크하지 않습니다
    "react/prop-types": "off",
    // Nextjs 컨텍스트 안에서는 React를 불러오지 않아도 jsx 사용이 가능합니다
    "react/react-in-jsx-scope": "off",
    // 함수에 리턴 타입을 강제하는 기능은 사용하지 않습니다
    "@typescript-eslint/explicit-function-return-type": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "import/no-extraneous-dependencies": "off",
    "react/no-unescaped-entities": "off",
    "react/destructuring-assignment": "off"
  }
}
